{% extends 'base.html.twig' %}
{% block javascripts %}



    {{ parent() }}
{% endblock %}
{% block container%}
    {{ parent() }}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="index.html">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Form Stuff</span>
            </li>
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="#">
                            <i class="icon-bell"></i> Action</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-shield"></i> Another action</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-user"></i> Something else here</a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a href="#">
                            <i class="icon-bag"></i> Separated link</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title"> Material Design Form Validation
        <small>material design form validation</small>
    </h1>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="m-heading-1 border-green m-bordered">
        <h3>jQuery Validation Plugin</h3>
        <p> This jQuery plugin makes simple clientside form validation easy, whilst still offering plenty of customization options. For more info please check out
            <a class="btn red btn-outline" href="http://jqueryvalidation.org" target="_blank">the official documentation</a>
        </p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light portlet-fit portlet-form bordered" id="form_wizard_1">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-green"></i>
                        <span class="caption-subject font-green sbold uppercase">Information générales</span>
                    </div>

                </div>
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    {{ form_start(categoryForm , {'attr': {'class': 'form-horizontal'}}) }}

                        <div class="form-body">




                            <div class="form-group" id="form_region">
                                <label class="control-label col-md-3">Libele</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="" data-original-title="" id="icone_region"></i>
                                        {{ form_widget(categoryForm.nom, { 'attr' : { 'class' : 'form-control' } }) }}
                                    </div>
                                </div>
                            </div>





                            <div class="form-group" id="form_pays">
                                <label class="control-label col-md-3">Parent</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="" data-original-title="" id="icone_pays"></i>
                                        {{ form_widget(categoryForm.parent, { 'attr' : { 'class' : 'form-control' } }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn btn-primary" formnovalidate>Save</button>

                                    </div>
                                </div>
                            </div>




                        </div>
                    {{  form_end(categoryForm) }}

                    <!-- END FORM-->
                </div>
            </div>
            <!-- END VALIDATION STATES-->
        </div>

    </div>




{% endblock %}