{% extends 'dashboard/dashboard1.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('Template/assets/global/plugins/datatables/datatables.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('Template/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('Template/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('Template/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('Template/assets/global/plugins/fancybox/source/jquery.fancybox.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('Template/assets/global/plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('Template/assets/global/plugins/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('Template/assets/global/css/components-md.min.css') }}" rel="stylesheet" id="style_components" type="text/css" />
    <link href="https://jqueryvalidation.org/files/demo/css/screen.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block container%}

    <!-- BEGIN PAGE HEADER-->
    <!-- BEGIN THEME PANEL -->

    <!-- END THEME PANEL -->
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="http://localhost/nepsus/nepsus/web/app_dev.php/">Accueil</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Gestion fournisseurs</span>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Modifier fournisseur</span>

            </li>
        </ul>

    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title"> Modifier fournisseur
        <small></small>
    </h1>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal form-row-seperated" action="{{ path('editfournisseur' , {'id': fournisseur.id } ) }}" method="post" id="signupForm">
                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-user-plus"></i>{{ fournisseur.raison }} </div>
                        <div class="actions btn-set">

                            <button class="btn btn-success">
                                <i class="fa fa-check"></i> Save</button>


                        </div>
                    </div>
                    <div class="portlet-body">

                        <div class="tabbable-line">
                            <ul class="nav nav-tabs nav-tabs-lg">
                                <li class="active">
                                    <a href="#tab_0" data-toggle="tab"> Résumé </a>
                                </li>
                                <li>
                                    <a href="#tab_1" data-toggle="tab"> Profil

                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_2" data-toggle="tab"> Contacts

                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_3" data-toggle="tab"> Factures </a>
                                </li>
                                <li>
                                    <a href="#tab_4" data-toggle="tab"> Transactions
                                        <span class="badge badge-danger"> 2 </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab_5" data-toggle="tab"> Historique </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_0">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="portlet yellow-crusta box">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-cogs"></i>Factures </div>

                                                </div>
                                                <div class="portlet-body">
                                                    <div class="row static-info">
                                                        <div class="col-md-5 name"> Payés : </div>
                                                        <div class="col-md-7 value">

                                                        </div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-5 name"> Non payés: </div>
                                                        <div class="col-md-7 value"></div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-5 name"> Annulé: </div>
                                                        <div class="col-md-7 value">

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="portlet blue-hoki box">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-cogs"></i>Informations du fournisseur </div>

                                                </div>
                                                <div class="portlet-body">
                                                    <div class="row static-info">
                                                        <div class="col-md-5 name"> Raison social: </div>
                                                        <div class="col-md-7 value"> {{ fournisseur.raison }} </div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-5 name"> Email: </div>
                                                        <div class="col-md-7 value"> {{ fournisseur.email }} </div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-5 name"> Ville: </div>
                                                        <div class="col-md-7 value"> {{ fournisseur.ville }} </div>
                                                    </div>
                                                    <div class="row static-info">
                                                        <div class="col-md-5 name"> Numéro de téléphone: </div>
                                                        <div class="col-md-7 value"> {{ fournisseur.telephone }} </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="portlet green-meadow box">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-cogs"></i> Adresse de facturation </div>

                                                </div>
                                                <div class="portlet-body">
                                                    <div class="row static-info">
                                                        <div class="col-md-12 value"> {{ fournisseur.raison }}
                                                            <br> # {{ fournisseur.adresse }}
                                                            <br> {{ fournisseur.ville }},{{ fournisseur.region }}
                                                            <br> {{ fournisseur.pays }}

                                                            <br> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="portlet red-sunglo box">
                                                <div class="portlet-title">
                                                    <div class="caption">
                                                        <i class="fa fa-cogs"></i>Adresse de livraison </div>

                                                </div>
                                                <div class="portlet-body">
                                                    <div class="row static-info">
                                                            <div class="col-md-12 value"> {{ fournisseur.raison }}
                                                                <br> # {{ fournisseur.adresse }}
                                                                <br> {{ fournisseur.ville }},{{ fournisseur.region }}
                                                                <br> {{ fournisseur.pays }}

                                                                <br> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane " id="tab_1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" for="raison" style="text-align: start">Raison sociale
                                                        <span class="required" style="font-size: large"> * </span>
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="raison" id="raison" data-required="1" class="form-control" value="{{ fournisseur.raison }}" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"  style="text-align: start">Capital
                                                        <span class="required" style="font-size: large"> * </span>
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="cap" id="cap"  class="form-control" value="{{ fournisseur.capital }}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label" style="text-align: start">Email
                                                        <span class="required" style="font-size: large"> * </span>
                                                    </label>
                                                    <div class="col-md-8">


                                                        <input type="email" name="email" class="form-control" value="{{ fournisseur.email }}"> </div>

                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"  style="text-align: start">Registre de commerce
                                                        <span class="required" style="font-size: large"> * </span>
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="registre" id="registre"  class="form-control" value="{{ fournisseur.registre }}" />
                                                    </div>

                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style="text-align: start">Télephone 1
                                                        <span class="required" style="font-size: large"> * </span>
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="tel1" id="tel1"  class="form-control" value="{{ fournisseur.telephone }}" />

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style="text-align: justify">Forme juridique
                                                        <span class="required" style="font-size: large"> * </span>
                                                    </label>
                                                    <div class="col-md-8">
                                                        <select class="form-control select2me" id="formejuridique" name="formejuridique" data-live-search="true" data-size="8" >
                                                            <option value="">Select...</option>
                                                            <option value="Entreprise individuelle">Entreprise individuelle</option>
                                                            <option value="Société à responsabilité limitée (SARL)">Société à responsabilité limitée (SARL)</option>
                                                            <option value="Société unipersonnelle à responsabilité limitée (SUARL)">Société unipersonnelle à responsabilité limitée (SUARL)</option>
                                                            <option value="Société anonyme (SA)">Société anonyme (SA)</option>
                                                            <option value="Société en commandite par actions (SCA)">Société en commandite par actions (SCA)</option>

                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style="text-align: start">Télephone 2

                                                    </label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="tel2" id="tel2"  class="form-control" value="{{ fournisseur.mobile }}" />

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"  style="text-align: start">Matricule fiscal
                                                        <span class="required" style="font-size: large"> * </span>
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="mf" id="mf"  class="form-control" value="{{ fournisseur.matriculefiscale }}" />
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="form-group">

                                                    <label class="control-label col-md-4" style="text-align: start">Fax

                                                    </label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="fax" id="fax"  class="form-control" value="{{ fournisseur.fax }}"/>
                                                    </div>
                                                </div>
                                                <div class="form-group">

                                                    <label class="control-label col-md-4" style="text-align: start">Region

                                                    </label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="region" id="region"  class="form-control" value="{{ fournisseur.region }}"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style="text-align: start">Ville

                                                    </label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="ville" id="ville"  class="form-control" value="{{ fournisseur.ville }}" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style="text-align: start">Pays
                                                        <span class="required" style="font-size: large"> * </span>
                                                    </label>
                                                    <div class="col-md-8">
                                                        <select class="form-control select2me" name="pays" id="pays" data-live-search="true" data-size="8">
                                                            <option value="">Select...</option>
                                                            <option value="AF">Afghanistan</option>
                                                            <option value="AL">Albania</option>
                                                            <option value="DZ">Algeria</option>
                                                            <option value="AS">American Samoa</option>
                                                            <option value="AD">Andorra</option>
                                                            <option value="AO">Angola</option>
                                                            <option value="AI">Anguilla</option>
                                                            <option value="AR">Argentina</option>
                                                            <option value="AM">Armenia</option>
                                                            <option value="AW">Aruba</option>
                                                            <option value="AU">Australia</option>
                                                            <option value="AT">Austria</option>
                                                            <option value="AZ">Azerbaijan</option>
                                                            <option value="BS">Bahamas</option>
                                                            <option value="BH">Bahrain</option>
                                                            <option value="BD">Bangladesh</option>
                                                            <option value="BB">Barbados</option>
                                                            <option value="BY">Belarus</option>
                                                            <option value="BE">Belgium</option>
                                                            <option value="BZ">Belize</option>
                                                            <option value="BJ">Benin</option>
                                                            <option value="BM">Bermuda</option>
                                                            <option value="BT">Bhutan</option>
                                                            <option value="BO">Bolivia</option>
                                                            <option value="BA">Bosnia and Herzegowina</option>
                                                            <option value="BW">Botswana</option>
                                                            <option value="BV">Bouvet Island</option>
                                                            <option value="BR">Brazil</option>
                                                            <option value="IO">British Indian Ocean Territory</option>
                                                            <option value="BN">Brunei Darussalam</option>
                                                            <option value="BG">Bulgaria</option>
                                                            <option value="BF">Burkina Faso</option>
                                                            <option value="BI">Burundi</option>
                                                            <option value="KH">Cambodia</option>
                                                            <option value="CM">Cameroon</option>
                                                            <option value="CA">Canada</option>
                                                            <option value="CV">Cape Verde</option>
                                                            <option value="KY">Cayman Islands</option>
                                                            <option value="CF">Central African Republic</option>
                                                            <option value="TD">Chad</option>
                                                            <option value="CL">Chile</option>
                                                            <option value="CN">China</option>
                                                            <option value="CX">Christmas Island</option>
                                                            <option value="CC">Cocos (Keeling) Islands</option>
                                                            <option value="CO">Colombia</option>
                                                            <option value="KM">Comoros</option>
                                                            <option value="CG">Congo</option>
                                                            <option value="CD">Congo, the Democratic Republic of the</option>
                                                            <option value="CK">Cook Islands</option>
                                                            <option value="CR">Costa Rica</option>
                                                            <option value="CI">Cote d'Ivoire</option>
                                                            <option value="HR">Croatia (Hrvatska)</option>
                                                            <option value="CU">Cuba</option>
                                                            <option value="CY">Cyprus</option>
                                                            <option value="CZ">Czech Republic</option>
                                                            <option value="DK">Denmark</option>
                                                            <option value="DJ">Djibouti</option>
                                                            <option value="DM">Dominica</option>
                                                            <option value="DO">Dominican Republic</option>
                                                            <option value="EC">Ecuador</option>
                                                            <option value="EG">Egypt</option>
                                                            <option value="SV">El Salvador</option>
                                                            <option value="GQ">Equatorial Guinea</option>
                                                            <option value="ER">Eritrea</option>
                                                            <option value="EE">Estonia</option>
                                                            <option value="ET">Ethiopia</option>
                                                            <option value="FK">Falkland Islands (Malvinas)</option>
                                                            <option value="FO">Faroe Islands</option>
                                                            <option value="FJ">Fiji</option>
                                                            <option value="FI">Finland</option>
                                                            <option value="FR">France</option>
                                                            <option value="GF">French Guiana</option>
                                                            <option value="PF">French Polynesia</option>
                                                            <option value="TF">French Southern Territories</option>
                                                            <option value="GA">Gabon</option>
                                                            <option value="GM">Gambia</option>
                                                            <option value="GE">Georgia</option>
                                                            <option value="DE">Germany</option>
                                                            <option value="GH">Ghana</option>
                                                            <option value="GI">Gibraltar</option>
                                                            <option value="GR">Greece</option>
                                                            <option value="GL">Greenland</option>
                                                            <option value="GD">Grenada</option>
                                                            <option value="GP">Guadeloupe</option>
                                                            <option value="GU">Guam</option>
                                                            <option value="GT">Guatemala</option>
                                                            <option value="GN">Guinea</option>
                                                            <option value="GW">Guinea-Bissau</option>
                                                            <option value="GY">Guyana</option>
                                                            <option value="HT">Haiti</option>
                                                            <option value="HM">Heard and Mc Donald Islands</option>
                                                            <option value="VA">Holy See (Vatican City State)</option>
                                                            <option value="HN">Honduras</option>
                                                            <option value="HK">Hong Kong</option>
                                                            <option value="HU">Hungary</option>
                                                            <option value="IS">Iceland</option>
                                                            <option value="IN">India</option>
                                                            <option value="ID">Indonesia</option>
                                                            <option value="IR">Iran (Islamic Republic of)</option>
                                                            <option value="IQ">Iraq</option>
                                                            <option value="IE">Ireland</option>
                                                            <option value="IL">Israel</option>
                                                            <option value="IT">Italy</option>
                                                            <option value="JM">Jamaica</option>
                                                            <option value="JP">Japan</option>
                                                            <option value="JO">Jordan</option>
                                                            <option value="KZ">Kazakhstan</option>
                                                            <option value="KE">Kenya</option>
                                                            <option value="KI">Kiribati</option>
                                                            <option value="KP">Korea, Democratic People's Republic of</option>
                                                            <option value="KR">Korea, Republic of</option>
                                                            <option value="KW">Kuwait</option>
                                                            <option value="KG">Kyrgyzstan</option>
                                                            <option value="LA">Lao People's Democratic Republic</option>
                                                            <option value="LV">Latvia</option>
                                                            <option value="LB">Lebanon</option>
                                                            <option value="LS">Lesotho</option>
                                                            <option value="LR">Liberia</option>
                                                            <option value="LY">Libyan Arab Jamahiriya</option>
                                                            <option value="LI">Liechtenstein</option>
                                                            <option value="LT">Lithuania</option>
                                                            <option value="LU">Luxembourg</option>
                                                            <option value="MO">Macau</option>
                                                            <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                                                            <option value="MG">Madagascar</option>
                                                            <option value="MW">Malawi</option>
                                                            <option value="MY">Malaysia</option>
                                                            <option value="MV">Maldives</option>
                                                            <option value="ML">Mali</option>
                                                            <option value="MT">Malta</option>
                                                            <option value="MH">Marshall Islands</option>
                                                            <option value="MQ">Martinique</option>
                                                            <option value="MR">Mauritania</option>
                                                            <option value="MU">Mauritius</option>
                                                            <option value="YT">Mayotte</option>
                                                            <option value="MX">Mexico</option>
                                                            <option value="FM">Micronesia, Federated States of</option>
                                                            <option value="MD">Moldova, Republic of</option>
                                                            <option value="MC">Monaco</option>
                                                            <option value="MN">Mongolia</option>
                                                            <option value="MS">Montserrat</option>
                                                            <option value="MA">Morocco</option>
                                                            <option value="MZ">Mozambique</option>
                                                            <option value="MM">Myanmar</option>
                                                            <option value="NA">Namibia</option>
                                                            <option value="NR">Nauru</option>
                                                            <option value="NP">Nepal</option>
                                                            <option value="NL">Netherlands</option>
                                                            <option value="AN">Netherlands Antilles</option>
                                                            <option value="NC">New Caledonia</option>
                                                            <option value="NZ">New Zealand</option>
                                                            <option value="NI">Nicaragua</option>
                                                            <option value="NE">Niger</option>
                                                            <option value="NG">Nigeria</option>
                                                            <option value="NU">Niue</option>
                                                            <option value="NF">Norfolk Island</option>
                                                            <option value="MP">Northern Mariana Islands</option>
                                                            <option value="NO">Norway</option>
                                                            <option value="OM">Oman</option>
                                                            <option value="PK">Pakistan</option>
                                                            <option value="PW">Palau</option>
                                                            <option value="PA">Panama</option>
                                                            <option value="PG">Papua New Guinea</option>
                                                            <option value="PY">Paraguay</option>
                                                            <option value="PE">Peru</option>
                                                            <option value="PH">Philippines</option>
                                                            <option value="PN">Pitcairn</option>
                                                            <option value="PL">Poland</option>
                                                            <option value="PT">Portugal</option>
                                                            <option value="PR">Puerto Rico</option>
                                                            <option value="QA">Qatar</option>
                                                            <option value="RE">Reunion</option>
                                                            <option value="RO">Romania</option>
                                                            <option value="RU">Russian Federation</option>
                                                            <option value="RW">Rwanda</option>
                                                            <option value="KN">Saint Kitts and Nevis</option>
                                                            <option value="LC">Saint LUCIA</option>
                                                            <option value="VC">Saint Vincent and the Grenadines</option>
                                                            <option value="WS">Samoa</option>
                                                            <option value="SM">San Marino</option>
                                                            <option value="ST">Sao Tome and Principe</option>
                                                            <option value="SA">Saudi Arabia</option>
                                                            <option value="SN">Senegal</option>
                                                            <option value="SC">Seychelles</option>
                                                            <option value="SL">Sierra Leone</option>
                                                            <option value="SG">Singapore</option>
                                                            <option value="SK">Slovakia (Slovak Republic)</option>
                                                            <option value="SI">Slovenia</option>
                                                            <option value="SB">Solomon Islands</option>
                                                            <option value="SO">Somalia</option>
                                                            <option value="ZA">South Africa</option>
                                                            <option value="GS">South Georgia and the South Sandwich Islands</option>
                                                            <option value="ES">Spain</option>
                                                            <option value="LK">Sri Lanka</option>
                                                            <option value="SH">St. Helena</option>
                                                            <option value="PM">St. Pierre and Miquelon</option>
                                                            <option value="SD">Sudan</option>
                                                            <option value="SR">Suriname</option>
                                                            <option value="SJ">Svalbard and Jan Mayen Islands</option>
                                                            <option value="SZ">Swaziland</option>
                                                            <option value="SE">Sweden</option>
                                                            <option value="CH">Switzerland</option>
                                                            <option value="SY">Syrian Arab Republic</option>
                                                            <option value="TW">Taiwan, Province of China</option>
                                                            <option value="TJ">Tajikistan</option>
                                                            <option value="TZ">Tanzania, United Republic of</option>
                                                            <option value="TH">Thailand</option>
                                                            <option value="TG">Togo</option>
                                                            <option value="TK">Tokelau</option>
                                                            <option value="TO">Tonga</option>
                                                            <option value="TT">Trinidad and Tobago</option>
                                                            <option value="TN" selected>Tunisia</option>
                                                            <option value="TR">Turkey</option>
                                                            <option value="TM">Turkmenistan</option>
                                                            <option value="TC">Turks and Caicos Islands</option>
                                                            <option value="TV">Tuvalu</option>
                                                            <option value="UG">Uganda</option>
                                                            <option value="UA">Ukraine</option>
                                                            <option value="AE">United Arab Emirates</option>
                                                            <option value="GB">United Kingdom</option>
                                                            <option value="US">United States</option>
                                                            <option value="UM">United States Minor Outlying Islands</option>
                                                            <option value="UY">Uruguay</option>
                                                            <option value="UZ">Uzbekistan</option>
                                                            <option value="VU">Vanuatu</option>
                                                            <option value="VE">Venezuela</option>
                                                            <option value="VN">Viet Nam</option>
                                                            <option value="VG">Virgin Islands (British)</option>
                                                            <option value="VI">Virgin Islands (U.S.)</option>
                                                            <option value="WF">Wallis and Futuna Islands</option>
                                                            <option value="EH">Western Sahara</option>
                                                            <option value="YE">Yemen</option>
                                                            <option value="ZM">Zambia</option>
                                                            <option value="ZW">Zimbabwe</option>


                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4" style="text-align: start">Adresse
                                                        <span class="required" style="font-size: large"> * </span>

                                                    </label>
                                                    <div class="col-md-8">
                                                        <input type="text" name="adresse" id="adresse"  class="form-control" value="{{ fournisseur.adresse }}" />
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-md-6">

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"  style="text-align: start">Site web

                                                    </label>
                                                    <div class="col-md-8">
                                                        <input name="site" id="site" type="text" class="form-control" value="{{ fournisseur.siteweb }}" />
                                                        <span class="help-block"> e.g: http://www.demo.com </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane" id="tab_2">

                                </div>

                                <div class="tab-pane" id="tab_3">
                                    <div class="col-md-12">
                                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                        <div class="portlet light bordered">
                                            <div class="portlet-title">
                                                <div class="caption font-dark">

                                                </div>
                                                <div class="tools"> </div>
                                            </div>
                                            <div class="portlet-body">
                                                <table class="table table-striped table-bordered table-hover" id="sample_1">
                                                    <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Ajout</th>
                                                        <th>Echeance</th>
                                                        <th>TotalHT</th>
                                                        <th>TotalTTC</th>
                                                        <th>Statut</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tfoot>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Ajout</th>
                                                        <th>Echeance</th>
                                                        <th>TotalHT</th>
                                                        <th>TotalTTC</th>
                                                        <th>Statut</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </tfoot>
                                                    <tbody>



                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_4">

                                </div>
                                <div class="tab-pane" id="tab_5">
                                    <div class="col-md-12">
                                        <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                        <div class="portlet light bordered">
                                            <div class="portlet-title">
                                                <div class="caption font-dark">

                                                </div>
                                                <div class="tools"> </div>
                                            </div>
                                            <div class="portlet-body">
                                                <table class="table table-striped table-bordered table-hover" id="sample_1">
                                                    <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Date</th>
                                                        <th>Description</th>
                                                    </tr>
                                                    </thead>
                                                    <tfoot>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Date</th>
                                                        <th>Description</th>

                                                    </tr>
                                                    </tfoot>
                                                    <tbody>




                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('Template/assets/global/plugins/jquery-validation/js/jquery.validate.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/pages/scripts/form-validation.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/select2/js/select2.full.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/jquery-validation/js/additional-methods.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/scripts/datatable.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/datatables/datatables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/pages/scripts/table-datatables-buttons.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/pages/scripts/ecommerce-products-edit.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/plupload/js/plupload.full.min.js') }}" type="text/javascript"></script>
    <script src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/pages/scripts/ecommerce-orders-view.min.js') }}" type="text/javascript"></script>



    <script>


        $('#cap').inputmask("numeric", {
            radixPoint: ",",
            groupSeparator: ",",
            digits: 2,
            autoGroup: true,
            rightAlign: false,
            oncleared: function () { self.Value(''); }
        });



        $().ready(function() {
            $("#formejuridique").val("{{ fournisseur.formejuridique }}").change();
            $("#pays").val("{{ fournisseur.pays }}").change();

            /*
             console.log($('#tva').val());
             if (!($('#tva').bootstrapSwitch('state')))
             {
             $( "#tva" ).attr( "value", "Non" );
             alert( $('#tva').val());
             console.log($('#tva').val());
             }
             */


            // validate the comment form when it is submitted


            // validate signup form on keyup and submit
            $("#signupForm").validate({
                rules: {

                    raison: {
                        required: true,
                        minlength: 3

                    },
                    mf: {
                        required: true,
                        minlength: 8

                    },
                    registre: {
                        required: true,
                        minlength: 10
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    site: {
                        url:true
                    },
                    tel1:{
                        number:true,
                        required:true,
                        minlength:8,
                        maxlength:8

                    },
                    fax:{
                        number:true,
                        required:false,
                        minlength:8,
                        maxlength:8

                    },
                    pays:{
                        required:true
                    },
                    adresse:{
                        required:true
                    },
                    cap:{

                        required:true

                    },
                    formejuridique:{

                        required:true

                    }


                },
                messages: {

                    raison: {
                        required: "Ce champ est obligatoire",
                        minlength: "Ce champ doit contenir 3 caractères au minimum"
                    },
                    mf: {
                        required: "Ce champ est obligatoire",
                        minlength: "Ce champ doit contenir 8 caractères au minimum"
                    },
                    registre: {
                        required: "Ce champ est obligatoire",
                        minlength: "Ce champ doit contenir 10 caractères au minimum"
                    },
                    cap: {
                        required: "Ce champ est obligatoire"
                    },
                    email: {
                        required: "Nous avons besoin de votre adresse e-mail pour vous contacter",
                        email: "Votre adresse courriel doit être sous le nom de nom@domain.com"
                    },
                    site: {
                        url:"Entrez une URL valide."
                    },
                    tel1: {
                        required: "Ce champ est obligatoire",
                        tel1:"Ce champ ne peut contenir que des numéros",
                        minlength: "Ce champ doit contenir 8 caractères au minimum",
                        maxlength: "Ce champ doit contenir 8 caractères au maximum"
                    },
                    fax: {
                        tel1:"Ce champ ne peut contenir que des numéros",
                        minlength: "Ce champ doit contenir 8 caractères au minimum",
                        maxlength: "Ce champ doit contenir 8 caractères au maximum"
                    },
                    pays:{
                        required: "Ce champ est obligatoire"
                    },

                    adresse:{
                        required: "Ce champ est obligatoire"
                    },

                    formejuridique:{
                        required: "Ce champ est obligatoire"
                    }


                }
            });

        });


    </script>








{% endblock %}
