{% extends 'base.html.twig' %}
{% block javascripts %}


    {% if fournisseurForm.nom.vars.errors|length %}

        <script type="application/javascript">

            document.getElementById("icone_name").className = "fa fa-warning tooltips";
            document.getElementById("form_name").className = "form-group has-error";
        </script>
    {% endif %}



    {{ parent() }}
{% endblock %}
{% block container%}
    {{ parent() }}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="index.html">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Form Stuff</span>
            </li>
        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <button type="button" class="btn green btn-sm btn-outline dropdown-toggle" data-toggle="dropdown"> Actions
                    <i class="fa fa-angle-down"></i>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="#">
                            <i class="icon-bell"></i> Action</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-shield"></i> Another action</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-user"></i> Something else here</a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a href="#">
                            <i class="icon-bag"></i> Separated link</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title"> Material Design Form Validation
        <small>material design form validation</small>
    </h1>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="m-heading-1 border-green m-bordered">
        <h3>jQuery Validation Plugin</h3>
        <p> This jQuery plugin makes simple clientside form validation easy, whilst still offering plenty of customization options. For more info please check out
            <a class="btn red btn-outline" href="http://jqueryvalidation.org" target="_blank">the official documentation</a>
        </p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light portlet-fit portlet-form bordered" id="form_wizard_1">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-green"></i>
                        <span class="caption-subject font-green sbold uppercase">Information générales</span>
                    </div>

                </div>
                <div class="portlet-body">
                    <!-- BEGIN FORM-->
                    {{ form_start(fournisseurForm , {'attr': {'class': 'form-horizontal'}}) }}

                        <div class="form-body">




                            <div class="form-group" id="form_region">
                                <label class="control-label col-md-3">Region</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="" data-original-title="" id="icone_region"></i>
                                        {{ form_widget(fournisseurForm.region, { 'attr' : { 'class' : 'form-control' } }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="form_ville">
                                <label class="control-label col-md-3">Ville</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="" data-original-title="" id="icone_ville"></i>
                                        {{ form_widget(fournisseurForm.ville, { 'attr' : { 'class' : 'form-control' } }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="form_siteweb">
                                <label class="control-label col-md-3">Site Web</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="" data-original-title="" id="icone_siteweb"></i>
                                        {{ form_widget(fournisseurForm.siteweb, { 'attr' : { 'class' : 'form-control' } }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="form_pays">
                                <label class="control-label col-md-3">Pays</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="" data-original-title="" id="icone_pays"></i>
                                        {{ form_widget(fournisseurForm.pays, { 'attr' : { 'class' : 'form-control' } }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="form_capitale">
                                <label class="control-label col-md-3">Capitale</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="" data-original-title="" id="icone_capitale"></i>
                                        {{ form_widget(fournisseurForm.capital, { 'attr' : { 'class' : 'form-control' } }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="form_mf">
                                <label class="control-label col-md-3">Matricule fiscal</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="" data-original-title="" id="icone_mf"></i>
                                        {{ form_widget(fournisseurForm.matriculefiscal, { 'attr' : { 'class' : 'form-control' } }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="form_registre">
                                <label class="control-label col-md-3">N° Registre de Commerce</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="" data-original-title="" id="icone_registre"></i>
                                        {{ form_widget(fournisseurForm.registre, { 'attr' : { 'class' : 'form-control' } }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="form_mf">
                                <label class="control-label col-md-3">Appliqué aux TVA</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="" data-original-title="" id="icone_mf"></i>
                                        {{ form_widget(fournisseurForm.tva, { 'attr' : { 'class' : 'form-control' } }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="form_mf">
                                <label class="control-label col-md-3">Code douane</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="" data-original-title="" id="icone_mf"></i>
                                        {{ form_widget(fournisseurForm.codedouane, { 'attr' : { 'class' : 'form-control' } }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="form_mf">
                                <label class="control-label col-md-3">Effectif</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="" data-original-title="" id="icone_mf"></i>
                                        {{ form_widget(fournisseurForm.nbemp, { 'attr' : { 'class' : 'form-control' } }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="form_adresse">
                                <label class="control-label col-md-3">Forme juridique</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="" data-original-title="" id="icone_adresse"></i>
                                        {{ form_widget(fournisseurForm.formejuridique, { 'attr' : { 'class' : 'form-control' } }) }}
                                    </div>
                                </div>
                            </div>


                            <div class="form-group" id="form_cp">
                                <label class="control-label col-md-3">Code postal</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="" data-original-title="" id="icone_cp"></i>
                                        {{ form_widget(fournisseurForm.codepostal, { 'attr' : { 'class' : 'form-control' } }) }}
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="form-group" id="form_created">
                            <label class="control-label col-md-3"></label>
                            <div class="col-md-9" hidden="true">
                                <div class="input-icon right">
                                    <i class="" data-original-title="" id="icone_created"></i>
                                    {{ form_widget(fournisseurForm.created, { 'attr' : { 'class' : 'form-control' } }) }}
                                </div>
                            </div>
                        </div>

                    <!-- END FORM-->
                </div>
            </div>
            <!-- END VALIDATION STATES-->
        </div>
        <div class="col-md-6">
            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet light portlet-fit portlet-form bordered" id="form_wizard_1">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-green"></i>
                        <span class="caption-subject font-green sbold uppercase">Informations de contact</span>
                    </div>

                </div>
                <div class="portlet-body">
                    <!-- BEGIN FORM-->

                        <div class="form-body">
                            <div class="form-group" id="form_name">
                                <label class="control-label col-md-3">Nom</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="" data-original-title="" id="icone_name"></i>
                                        {{ form_widget(fournisseurForm.nom, { 'attr' : { 'class' : 'form-control' } }) }}
                                        <span class="help-block"> {{ form_errors(fournisseurForm.nom) }} </span>
                                    </div>
                                </div>
                            </div>




                            <div class="form-group" id="form_adresse">
                                <label class="control-label col-md-3">Adresse</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="" data-original-title="" id="icone_adresse"></i>
                                        {{ form_widget(fournisseurForm.adresse, { 'attr' : { 'class' : 'form-control' } }) }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="form_tel">
                                <label class="control-label col-md-3">Téléphone</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="" data-original-title="" id="icone_tel"></i>
                                        {{ form_widget(fournisseurForm.telephone, { 'attr' : { 'class' : 'form-control' } }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" id="form_adresse">
                                <label class="control-label col-md-3">Fax</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="" data-original-title="" id="icone_adresse"></i>
                                        {{ form_widget(fournisseurForm.fax, { 'attr' : { 'class' : 'form-control' } }) }}
                                    </div>
                                </div>
                            </div>



                            <div class="form-group" id="form_email">
                                <label class="control-label col-md-3">Email</label>
                                <div class="col-md-9">
                                    <div class="input-icon right">
                                        <i class="" data-original-title="" id="icone_email"></i>
                                        {{ form_widget(fournisseurForm.email, { 'attr' : { 'class' : 'form-control' } }) }}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    {{ form_widget(fournisseurForm.save,{'attr' : { 'class' : 'btn green' ,'role':'button' ,'Value':'Enregistrer' } } ) }}
                                    <button type="button" class="btn default">Cancel</button>
                                </div>
                            </div>
                        </div>
                    {% for flash_message in app.session.flashBag.get('notice') %}
                        <div class="flash-notice">
                            {{ flash_message }}
                        </div>
                    {% endfor %}



                    {{ form_end(fournisseurForm) }}

                    <!-- END FORM-->
                </div>
            </div>
            <!-- END VALIDATION STATES-->
        </div>
    </div>




{% endblock %}