{% extends 'base.html.twig' %}

{% block menu %}

    {% if app.request.attributes.get('_route') =='dashboard' %}
        <li class="nav-item active open">
            <a href="{{ path('dashboard') }}" class="nav-link nav-toggle">
                <i class="icon-speedometer"></i>
                <span class="title">Tableau de bord</span>


            </a>

        </li>

    {% else  %}
        <li class="nav-item">
            <a href="{{ path('dashboard') }}" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">Tableau de bord</span>


            </a>

        </li>
    {% endif %}

    <li class="heading">
        <h3 class="uppercase" style="font-weight: 600 ; color: white"> <i class="icon-wrench"></i> Gestion</h3>
    </li>
    {% if app.request.attributes.get('_route') =='addclient' %}
        <li class="nav-item active open">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-users"></i>
                <span class="title">Clients</span>
                <span class="arrow open"></span>

            </a>
            <ul class="sub-menu ">
                <li class="nav-item active ">
                    <a href="{{ path('addclient') }}" class="nav-link">
                        <span class="title">Nouveau client</span>
                        <span class="selected"></span>

                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="{{ path('listclient') }}" class="nav-link ">
                        <span class="title">Liste des clients</span>
                    </a>
                </li>


            </ul>
        </li>
    {% elseif app.request.attributes.get('_route') =='listclient' %}
        <li class="nav-item active open">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-users"></i>
                <span class="title">Clients</span>
                <span class="arrow open"></span>

            </a>
            <ul class="sub-menu ">
                <li class="nav-item  ">
                    <a href="{{ path('addclient') }}" class="nav-link">
                        <span class="title">Nouveau client</span>

                    </a>
                </li>
                <li class="nav-item active ">
                    <a href="{{ path('listclient') }}" class="nav-link ">
                        <span class="title">Liste des clients</span>
                        <span class="selected"></span>
                    </a>
                </li>


            </ul>
        </li>
    {% else  %}
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-users"></i>
                <span class="title">Clients</span>
                <span class="arrow"></span>

            </a>
            <ul class="sub-menu ">
                <li class="nav-item  ">
                    <a href="{{ path('addclient') }}" class="nav-link">
                        <span class="title">Nouveau client</span>

                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="{{ path('listclient') }}" class="nav-link ">
                        <span class="title">Liste des clients</span>
                    </a>
                </li>


            </ul>
        </li>
    {% endif %}

    <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-user-following"></i>
            <span class="title">Fournisseurs</span>
            <span class="arrow"></span>

        </a>
        <ul class="sub-menu ">
            <li class="nav-item  ">
                <a href="{{ path('addclient') }}" class="nav-link">
                    <span class="title">Nouveau Fournisseur</span>

                </a>
            </li>
            <li class="nav-item  ">
                <a href="{{ path('listclient') }}" class="nav-link ">
                    <span class="title">Liste des fournisseurs</span>
                </a>
            </li>


        </ul>
    </li>
    {% if app.request.attributes.get('_route') =='addcommandec' %}
        <li class="nav-item active open">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-basket"></i>
                <span class="title">Commandes</span>
                <span class="arrow open"></span>

            </a>
            <ul class="sub-menu ">
                <li class="nav-item active open">
                    <a href="javascript:;" class="nav-link nav-toggle">

                        <span class="title">Clients</span>
                        <span class="arrow open"></span>

                    </a>
                    <ul class="sub-menu ">
                        <li class="nav-item active">
                            <a href="{{ path('addcommandec') }}" class="nav-link">
                                <span class="title">Nouvelle commande</span>
                                <span class="selected"></span>

                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="{{ path('listbcc') }}" class="nav-link ">
                                <span class="title">Liste des commandes</span>
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="nav-item  ">
                    <a href="javascript:;" class="nav-link nav-toggle">

                        <span class="title">Fournisseurs</span>
                        <span class="arrow"></span>

                    </a>
                    <ul class="sub-menu ">
                        <li class="nav-item  ">
                            <a href="{{ path('addclient') }}" class="nav-link">
                                <span class="title">Nouvau commande</span>

                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="{{ path('listclient') }}" class="nav-link ">
                                <span class="title">Liste des commandes</span>
                            </a>
                        </li>


                    </ul>
                </li>


            </ul>

        </li>

    {% elseif app.request.attributes.get('_route') =='listbcc' %}
        <li class="nav-item active open">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-basket"></i>
                <span class="title">Commandes</span>
                <span class="arrow open"></span>

            </a>
            <ul class="sub-menu ">
                <li class="nav-item active open">
                    <a href="javascript:;" class="nav-link nav-toggle">

                        <span class="title">Clients</span>
                        <span class="arrow open"></span>

                    </a>
                    <ul class="sub-menu ">
                        <li class="nav-item ">
                            <a href="{{ path('addcommandec') }}" class="nav-link">
                                <span class="title">Nouvelle commande</span>


                            </a>
                        </li>
                        <li class="nav-item active ">
                            <a href="{{ path('listbcc') }}" class="nav-link ">
                                <span class="title">Liste des commandes</span>
                                <span class="selected"></span>
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="nav-item  ">
                    <a href="javascript:;" class="nav-link nav-toggle">

                        <span class="title">Fournisseurs</span>
                        <span class="arrow"></span>

                    </a>
                    <ul class="sub-menu ">
                        <li class="nav-item  ">
                            <a href="{{ path('addclient') }}" class="nav-link">
                                <span class="title">Nouvau commande</span>

                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="{{ path('listclient') }}" class="nav-link ">
                                <span class="title">Liste des commandes</span>
                            </a>
                        </li>


                    </ul>
                </li>


            </ul>

        </li>
    {% else  %}
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-basket"></i>
                <span class="title">Commandes</span>
                <span class="arrow "></span>

            </a>
            <ul class="sub-menu ">
                <li class="nav-item  ">
                    <a href="javascript:;" class="nav-link nav-toggle">

                        <span class="title">Clients</span>
                        <span class="arrow "></span>

                    </a>
                    <ul class="sub-menu ">
                        <li class="nav-item ">
                            <a href="{{ path('addcommandec') }}" class="nav-link">
                                <span class="title">Nouvelle commande</span>


                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="{{ path('listbcc') }}" class="nav-link ">
                                <span class="title">Liste des commandes</span>
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="nav-item  ">
                    <a href="javascript:;" class="nav-link nav-toggle">

                        <span class="title">Fournisseurs</span>
                        <span class="arrow"></span>

                    </a>
                    <ul class="sub-menu ">
                        <li class="nav-item  ">
                            <a href="{{ path('addclient') }}" class="nav-link">
                                <span class="title">Nouvau commande</span>

                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="{{ path('listclient') }}" class="nav-link ">
                                <span class="title">Liste des commandes</span>
                            </a>
                        </li>


                    </ul>
                </li>


            </ul>

        </li>
    {% endif %}

    <li class="heading">
        <h3 class="uppercase" style="font-weight: 600 ; color: white"> <i class="icon-layers"></i> Facturation</h3>
    </li>
    <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-docs"></i>
            <span class="title">Factures</span>
            <span class="arrow"></span>

        </a>
        <ul class="sub-menu ">
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">

                    <span class="title">Clients</span>
                    <span class="arrow"></span>

                </a>
                <ul class="sub-menu ">
                    <li class="nav-item  ">
                        <a href="{{ path('addclient') }}" class="nav-link">
                            <span class="title">Nouvelle Facture</span>

                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="{{ path('listclient') }}" class="nav-link ">
                            <span class="title">Liste des factures</span>
                        </a>
                    </li>


                </ul>
            </li>
            <li class="nav-item  ">
                <a href="javascript:;" class="nav-link nav-toggle">

                    <span class="title">Fournisseurs</span>
                    <span class="arrow"></span>

                </a>
                <ul class="sub-menu ">
                    <li class="nav-item  ">
                        <a href="{{ path('addclient') }}" class="nav-link">
                            <span class="title">Nouvelle facture</span>

                        </a>
                    </li>
                    <li class="nav-item  ">
                        <a href="{{ path('listclient') }}" class="nav-link ">
                            <span class="title">Liste des factures</span>
                        </a>
                    </li>


                </ul>
            </li>



        </ul>


    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-note"></i>
            <span class="title">Devis</span>
            <span class="arrow"></span>

        </a>
        <ul class="sub-menu ">
            <li class="nav-item  ">
                <a href="{{ path('addclient') }}" class="nav-link">
                    <span class="title">Nouvau devis</span>

                </a>
            </li>
            <li class="nav-item  ">
                <a href="{{ path('listclient') }}" class="nav-link ">
                    <span class="title">Liste des devis</span>
                </a>
            </li>


        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-credit-card"></i>
            <span class="title">Transactions</span>
            <span class="arrow"></span>

        </a>
        <ul class="sub-menu ">
            <li class="nav-item  ">
                <a href="{{ path('addclient') }}" class="nav-link">
                    <span class="title">Nouvelle transaction</span>

                </a>
            </li>
            <li class="nav-item  ">
                <a href="{{ path('listclient') }}" class="nav-link ">
                    <span class="title">Liste des transactions</span>
                </a>
            </li>


        </ul>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-credit-card"></i>
            <span class="title">Dépenses</span>
            <span class="arrow"></span>

        </a>
        <ul class="sub-menu ">
            <li class="nav-item  ">
                <a href="{{ path('addclient') }}" class="nav-link">
                    <span class="title">Nouvelle transaction</span>

                </a>
            </li>
            <li class="nav-item  ">
                <a href="{{ path('listclient') }}" class="nav-link ">
                    <span class="title">Liste des transactions</span>
                </a>
            </li>


        </ul>
    </li>
    <li class="heading" >
        <h3 class="uppercase" style="font-weight: 600 ; color: white;"><i class="icon-grid"></i>  Stock</h3>
    </li>
    <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-social-dropbox"></i>
            <span class="title">Produits</span>
            <span class="arrow"></span>

        </a>
        <ul class="sub-menu ">
            <li class="nav-item  ">
                <a href="{{ path('addclient') }}" class="nav-link">
                    <span class="title">Nouveau produit</span>

                </a>
            </li>
            <li class="nav-item  ">
                <a href="{{ path('listclient') }}" class="nav-link ">
                    <span class="title">Liste des produits</span>
                </a>
            </li>


        </ul>
    </li>



    <li class="nav-item" id="menucategories">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-tag"></i>
            <span class="title">Categories</span>
            <span class="arrow"></span>

        </a>
        <ul class="sub-menu ">
            <li class="nav-item  ">
                <a href="{{ path('addcategory') }}" class="nav-link">
                    <span class="title">Nouvelle catégorie</span>

                </a>
            </li>
            <li class="nav-item  ">
                <a href="{{ path('listcategories') }}" class="nav-link ">
                    <span class="title">Liste des catégories</span>
                </a>
            </li>


        </ul>
    </li>

    <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-tag"></i>
            <span class="title">Lots</span>
            <span class="arrow"></span>

        </a>
        <ul class="sub-menu ">
            <li class="nav-item  ">
                <a href="{{ path('addcategory') }}" class="nav-link">
                    <span class="title">Nouveau lot</span>

                </a>
            </li>
            <li class="nav-item  ">
                <a href="{{ path('listcategories') }}" class="nav-link ">
                    <span class="title">Liste des lots</span>
                </a>
            </li>


        </ul>
    </li>
    <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-home"></i>
            <span class="title">Entrepots</span>
            <span class="arrow"></span>

        </a>
        <ul class="sub-menu ">
            <li class="nav-item  ">
                <a href="{{ path('addcategory') }}" class="nav-link">
                    <span class="title">Nouveau entrepot</span>

                </a>
            </li>
            <li class="nav-item  ">
                <a href="{{ path('listcategories') }}" class="nav-link ">
                    <span class="title">Liste des entrepots</span>
                </a>
            </li>


        </ul>
    </li>

    <li class="heading">

        <h3 class="uppercase" style="font-weight: 600 ; color: white;"> <i class="icon-settings"></i>  Configuration</h3>
    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-equalizer"></i>
            <span class="title">Générale</span>


        </a>

    </li>
    <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-rocket"></i>
            <span class="title">Application</span>


        </a>

    </li>

{% endblock %}
{% block container %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{{ path('dashboard') }}">Accueil</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Tableau de bord</span>
            </li>
        </ul>
        <div class="page-toolbar">
            <div id="dashboard-report-range" class="pull-right tooltips btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Change dashboard date range">
                <i class="icon-calendar"></i>&nbsp;
                <span class="thin uppercase hidden-xs"></span>&nbsp;
                <i class="fa fa-angle-down"></i>
            </div>
        </div>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title"> Tableau de bord
        <small>Statistiques, tableaux, événements récents et rapports</small>
    </h1>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2 ">
                <div class="display">
                    <div class="number">
                        <h3 class="font-green-sharp">
                            <span data-counter="counterup" data-value="7800">0</span>
                            <small class="font-green-sharp">$</small>
                        </h3>
                        <small>Bénéfice total</small>
                    </div>
                    <div class="icon">
                        <i class="icon-pie-chart"></i>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                                            <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                                                <span class="sr-only">76% progress</span>
                                            </span>
                    </div>
                    <div class="status">
                        <div class="status-title"> progress </div>
                        <div class="status-number"> 76% </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2 ">
                <div class="display">
                    <div class="number">
                        <h3 class="font-red-haze">
                            <span data-counter="counterup" data-value="1349">0</span>
                        </h3>
                        <small>NEW FEEDBACKS</small>
                    </div>
                    <div class="icon">
                        <i class="icon-like"></i>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                                            <span style="width: 85%;" class="progress-bar progress-bar-success red-haze">
                                                <span class="sr-only">85% change</span>
                                            </span>
                    </div>
                    <div class="status">
                        <div class="status-title"> change </div>
                        <div class="status-number"> 85% </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2 ">
                <div class="display">
                    <div class="number">
                        <h3 class="font-blue-sharp">
                            <span data-counter="counterup" data-value="567"></span>
                        </h3>
                        <small>Nouvelles commandes</small>
                    </div>
                    <div class="icon">
                        <i class="icon-basket"></i>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                                            <span style="width: 45%;" class="progress-bar progress-bar-success blue-sharp">
                                                <span class="sr-only">45% grow</span>
                                            </span>
                    </div>
                    <div class="status">
                        <div class="status-title"> grow </div>
                        <div class="status-number"> 45% </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2 ">
                <div class="display">
                    <div class="number">
                        <h3 class="font-purple-soft">
                            <span data-counter="counterup" data-value="{{ nbclient|number_format }}"></span>
                        </h3>
                        <small>NEW USERS</small>
                    </div>
                    <div class="icon">
                        <i class="icon-user"></i>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                                            <span style="width: 57%;" class="progress-bar progress-bar-success purple-soft">
                                                <span class="sr-only">56% change</span>
                                            </span>
                    </div>
                    <div class="status">
                        <div class="status-title"> change </div>
                        <div class="status-number"> 57% </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('Template/assets/global/plugins/moment.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/morris/morris.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/morris/raphael-min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/counterup/jquery.waypoints.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/counterup/jquery.counterup.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/amcharts/amcharts/amcharts.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/amcharts/amcharts/serial.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/amcharts/amcharts/pie.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/amcharts/amcharts/radar.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/amcharts/amcharts/themes/light.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/amcharts/amcharts/themes/patterns.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/amcharts/amcharts/themes/chalk.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/amcharts/ammap/ammap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/amcharts/amstockcharts/amstock.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/fullcalendar/fullcalendar.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/horizontal-timeline/horizontal-timeline.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/flot/jquery.flot.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/flot/jquery.flot.resize.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/flot/jquery.flot.categories.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/jquery.sparkline.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js') }}" type="text/javascript"></script>
    <script src="{{ asset('Template/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js') }}" type="text/javascript"></script>

    <script src="{{ asset('Template/assets/pages/scripts/dashboard.min.js') }}" type="text/javascript"></script>


    <script>
        $( document ).ready(function() {
            $.getJSON( "api/modules", function( data ) {
             console.log(data);
            });

        /*$.ajax({
            type: 'GET',
            url: 'api/modules',
            dataType: 'json',
            data:$(this).serialize(),
            success: function(data)
            {

                $.each($(data), function(key, value) {

                    if (value['nom']==='Categories')
                    {
                        if (value['active']===false)
                        {
                            $('#menucategories').hide();
                        }


                    }
                });

            }

             });
 */
        });

    </script>
{% endblock %}
