{% extends 'base.html.twig' %}

{% block menu %}

    {% if app.request.attributes.get('_route') =='dashboard' %}
        <li class="nav-item active open">
            <a href="{{ path('dashboard') }}" class="nav-link nav-toggle">
                <i class="icon-speedometer"></i>
                <span class="title">Tableau de bord</span>


            </a>

        </li>

    {% else  %}
        <li class="nav-item">
            <a href="{{ path('dashboard') }}" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">Tableau de bord</span>


            </a>

        </li>
    {% endif %}

    <li class="heading">
        <h3 class="uppercase" style="font-weight: 600 ; color: white"> <i class="icon-wrench"></i> Gestion</h3>
    </li>
    {% if app.request.attributes.get('_route') =='addclient' %}
        <li class="nav-item active open" id="menuclients">
            <a href="javascript:" class="nav-link nav-toggle">
                <i class="icon-users"></i>
                <span class="title">Clients</span>
                <span class="arrow open"></span>

            </a>
            <ul class="sub-menu ">

                <li class="nav-item active " id="menuaddclient">
                    <a href="{{ path('addclient') }}" class="nav-link">
                        <span class="title">Nouveau client</span>
                        <span class="selected"></span>

                    </a>
                </li>
                <li class="nav-item  " id="menulisteclient">
                    <a href="{{ path('listclient') }}" class="nav-link ">
                        <span class="title">Liste des clients</span>
                    </a>
                </li>


            </ul>
        </li>
    {% elseif app.request.attributes.get('_route') =='listclient' %}
        <li class="nav-item active open">
            <a href="javascript:" class="nav-link nav-toggle">
                <i class="icon-users"></i>
                <span class="title">Clients</span>
                <span class="arrow open"></span>

            </a>
            <ul class="sub-menu ">
                <li class="nav-item  " id="menuaddclient">
                    <a href="{{ path('addclient') }}" class="nav-link">
                        <span class="title">Nouveau client</span>

                    </a>
                </li>
                <li class="nav-item active " id="menulisteclient">
                    <a href="{{ path('listclient') }}" class="nav-link ">
                        <span class="title">Liste des clients</span>
                        <span class="selected"></span>
                    </a>
                </li>


            </ul>
        </li>
    {% else  %}
        <li class="nav-item">
            <a href="javascript:" class="nav-link nav-toggle">
                <i class="icon-users"></i>
                <span class="title">Clients</span>
                <span class="arrow"></span>

            </a>
            <ul class="sub-menu ">
                <li class="nav-item  " id="menuaddclient">
                    <a href="{{ path('addclient') }}" class="nav-link">
                        <span class="title">Nouveau client</span>

                    </a>
                </li>
                <li class="nav-item  " id="menulisteclient">
                    <a href="{{ path('listclient') }}" class="nav-link ">
                        <span class="title">Liste des clients</span>
                    </a>
                </li>


            </ul>
        </li>
    {% endif %}

    <li class="nav-item" id="menufournisseurs">
        <a href="javascript:" class="nav-link nav-toggle">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
            <span class="title">Fournisseurs</span>
            <span class="arrow"></span>

        </a>
        <ul class="sub-menu ">
            <li class="nav-item  ">
                <a href="{{ path('addfournisseur') }}" class="nav-link">
                    <span class="title">Nouveau Fournisseur</span>

                </a>
            </li>
            <li class="nav-item  ">
                <a href="{{ path('listfournisseur') }}" class="nav-link ">
                    <span class="title">Liste des fournisseurs</span>
                </a>
            </li>


        </ul>
    </li>

    {% if app.request.attributes.get('_route') =='addcommandec' %}
        <li class="nav-item active open">
            <a href="javascript:" class="nav-link nav-toggle">
                <i class="icon-basket"></i>
                <span class="title">Commandes</span>
                <span class="arrow open"></span>

            </a>
            <ul class="sub-menu ">
                <li class="nav-item active open">
                    <a href="javascript:" class="nav-link nav-toggle">

                        <span class="title">Clients</span>
                        <span class="arrow open"></span>

                    </a>
                    <ul class="sub-menu ">
                        <li class="nav-item active">
                            <a href="{{ path('addcommandec') }}" class="nav-link">
                                <span class="title">Nouvelle commande</span>
                                <span class="selected"></span>

                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="{{ path('listbcc') }}" class="nav-link ">
                                <span class="title">Liste des commandes</span>
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="nav-item  ">
                    <a href="javascript:" class="nav-link nav-toggle">

                        <span class="title">Fournisseurs</span>
                        <span class="arrow"></span>

                    </a>
                    <ul class="sub-menu ">
                        <li class="nav-item  ">
                            <a href="{{ path('addclient') }}" class="nav-link">
                                <span class="title">Nouvau commande</span>

                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="{{ path('listclient') }}" class="nav-link ">
                                <span class="title">Liste des commandes</span>
                            </a>
                        </li>


                    </ul>
                </li>


            </ul>

        </li>

    {% elseif app.request.attributes.get('_route') =='listbcc' %}
        <li class="nav-item active open">
            <a href="javascript:" class="nav-link nav-toggle">
                <i class="icon-basket"></i>
                <span class="title">Commandes</span>
                <span class="arrow open"></span>

            </a>
            <ul class="sub-menu ">
                <li class="nav-item active open">
                    <a href="javascript:" class="nav-link nav-toggle">

                        <span class="title">Clients</span>
                        <span class="arrow open"></span>

                    </a>
                    <ul class="sub-menu ">
                        <li class="nav-item ">
                            <a href="{{ path('addcommandec') }}" class="nav-link">
                                <span class="title">Nouvelle commande</span>


                            </a>
                        </li>
                        <li class="nav-item active ">
                            <a href="{{ path('listbcc') }}" class="nav-link ">
                                <span class="title">Liste des commandes</span>
                                <span class="selected"></span>
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="nav-item  ">
                    <a href="javascript:" class="nav-link nav-toggle">

                        <span class="title">Fournisseurs</span>
                        <span class="arrow"></span>

                    </a>
                    <ul class="sub-menu ">
                        <li class="nav-item  ">
                            <a href="{{ path('addclient') }}" class="nav-link">
                                <span class="title">Nouvau commande</span>

                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="{{ path('listclient') }}" class="nav-link ">
                                <span class="title">Liste des commandes</span>
                            </a>
                        </li>


                    </ul>
                </li>


            </ul>

        </li>
    {% else  %}
        <li class="nav-item">
            <a href="javascript:" class="nav-link nav-toggle">
                <i class="icon-basket"></i>
                <span class="title">Commandes</span>
                <span class="arrow "></span>

            </a>
            <ul class="sub-menu ">
                <li class="nav-item  ">
                    <a href="javascript:" class="nav-link nav-toggle">

                        <span class="title">Clients</span>
                        <span class="arrow "></span>

                    </a>
                    <ul class="sub-menu ">
                        <li class="nav-item ">
                            <a href="{{ path('addcommandec') }}" class="nav-link">
                                <span class="title">Nouvelle commande</span>


                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="{{ path('listbcc') }}" class="nav-link ">
                                <span class="title">Liste des commandes</span>
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="nav-item  ">
                    <a href="javascript:" class="nav-link nav-toggle">

                        <span class="title">Fournisseurs</span>
                        <span class="arrow"></span>

                    </a>
                    <ul class="sub-menu ">
                        <li class="nav-item  ">
                            <a href="{{ path('addclient') }}" class="nav-link">
                                <span class="title">Nouvau commande</span>

                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="{{ path('listclient') }}" class="nav-link ">
                                <span class="title">Liste des commandes</span>
                            </a>
                        </li>


                    </ul>
                </li>


            </ul>

        </li>
    {% endif %}


    <li class="heading">
        <h3 class="uppercase" style="font-weight: 600 ; color: white"> <i class="icon-layers"></i> Facturation</h3>
    </li>
    {% if app.request.attributes.get('_route') =='listfacturesclients' %}

        <li class="nav-item active open" id="menucfactures">
            <a href="javascript:" class="nav-link nav-toggle">
                <i class="icon-docs"></i>
                <span class="title">Factures</span>
                <span class="arrow open"></span>

            </a>
            <ul class="sub-menu ">

                <li class="nav-item active ">
                    <a href="{{ path('listfacturesclients') }}" class="nav-link ">
                        <span class="title">Clients</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="#" class="nav-link ">
                        <span class="title">Fournisseurs</span>
                    </a>
                </li>


            </ul>


        </li>
    {% else %}
        <li class="nav-item" id="menucfactures">
            <a href="javascript:" class="nav-link nav-toggle">
                <i class="icon-docs"></i>
                <span class="title">Factures</span>
                <span class="arrow"></span>

            </a>
            <ul class="sub-menu ">

                <li class="nav-item  ">
                    <a href="{{ path('listfacturesclients') }}" class="nav-link ">
                        <span class="title">Clients</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="#" class="nav-link ">
                        <span class="title">Fournisseurs</span>
                    </a>
                </li>


            </ul>


        </li>
    {% endif %}

    <li class="nav-item  " id="menudevis">
        <a href="javascript:" class="nav-link nav-toggle">
            <i class="icon-note"></i>
            <span class="title">Devis</span>
            <span class="arrow"></span>

        </a>
        <ul class="sub-menu ">
            <li class="nav-item  ">
                <a href="{{ path('addclient') }}" class="nav-link">
                    <span class="title">Nouvau devis</span>

                </a>
            </li>
            <li class="nav-item  ">
                <a href="{{ path('listclient') }}" class="nav-link ">
                    <span class="title">Liste des devis</span>
                </a>
            </li>


        </ul>
    </li>
    <li class="nav-item  " id="menutransactions">
        <a href="javascript:" class="nav-link nav-toggle">
            <i class="fa fa-usd" aria-hidden="true"></i>
            <span class="title">Transactions</span>
            <span class="arrow"></span>

        </a>
        <ul class="sub-menu ">
            <li class="nav-item  ">
                <a href="{{ path('addclient') }}" class="nav-link">
                    <span class="title">Nouvelle transaction</span>

                </a>
            </li>
            <li class="nav-item  ">
                <a href="{{ path('listclient') }}" class="nav-link ">
                    <span class="title">Liste des transactions</span>
                </a>
            </li>


        </ul>
    </li>
    <li class="nav-item  " id="menudepenses">
        <a href="javascript:" class="nav-link nav-toggle">
            <i class="icon-wallet" aria-hidden="true"></i>
            <span class="title">Dépenses</span>
            <span class="arrow"></span>

        </a>
        <ul class="sub-menu ">
            <li class="nav-item  ">
                <a href="{{ path('addclient') }}" class="nav-link">
                    <span class="title">Nouvelle transaction</span>

                </a>
            </li>
            <li class="nav-item  ">
                <a href="{{ path('listclient') }}" class="nav-link ">
                    <span class="title">Liste des transactions</span>
                </a>
            </li>


        </ul>
    </li>
    <li class="heading" >
        <h3 class="uppercase" style="font-weight: 600 ; color: white;"><i class="fa fa-cubes" aria-hidden="true"></i>  Stock</h3>
    </li>
    <li class="nav-item" id="menuproduits">
        <a href="javascript:" class="nav-link nav-toggle">
            <i class="icon-chemistry"></i>
            <span class="title">Produits</span>
            <span class="arrow"></span>

        </a>
        <ul class="sub-menu ">
            <li class="nav-item  ">
                <a href="{{ path('addproduit') }}" class="nav-link">
                    <span class="title">Nouveau produit</span>

                </a>
            </li>
            <li class="nav-item  ">
                <a href="{{ path('listproduits') }}" class="nav-link ">
                    <span class="title">Liste des produits</span>
                </a>
            </li>


        </ul>
    </li>


    {% if app.request.attributes.get('_route') =='addcategorie' %}
        <li class="nav-item active open" id="menucategories">
            <a href="javascript:" class="nav-link nav-toggle">
                <i class="icon-tag"></i>
                <span class="title">Categories</span>
                <span class="arrow open"></span>

            </a>
            <ul class="sub-menu ">
                <li class="nav-item active ">
                    <a href="{{ path('addcategorie') }}" class="nav-link">
                        <span class="title">Nouvelle catégorie</span>
                        <span class="selected"></span>

                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="{{ path('listcategories') }}" class="nav-link ">
                        <span class="title">Liste des catégories</span>
                    </a>
                </li>


            </ul>
        </li>
    {% elseif app.request.attributes.get('_route') =='listcategories' %}
        <li class="nav-item active open" id="menucategories">
            <a href="javascript:" class="nav-link nav-toggle">
                <i class="icon-tag"></i>
                <span class="title">Categories</span>
                <span class="arrow open"></span>

            </a>
            <ul class="sub-menu ">
                <li class="nav-item  ">
                    <a href="{{ path('addcategorie') }}" class="nav-link">
                        <span class="title">Nouvelle catégorie</span>


                    </a>
                </li>
                <li class="nav-item active ">
                    <a href="{{ path('listcategories') }}" class="nav-link ">
                        <span class="title">Liste des catégories</span>
                        <span class="selected"></span>
                    </a>
                </li>


            </ul>
        </li>
    {% else %}
        <li class="nav-item" id="menucategories">
            <a href="javascript:" class="nav-link nav-toggle">
                <i class="icon-tag"></i>
                <span class="title">Categories</span>
                <span class="arrow"></span>

            </a>
            <ul class="sub-menu ">
                <li class="nav-item  ">
                    <a href="{{ path('addcategorie') }}" class="nav-link">
                        <span class="title">Nouvelle catégorie</span>

                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="{{ path('listcategories') }}" class="nav-link ">
                        <span class="title">Liste des catégories</span>
                    </a>
                </li>


            </ul>
        </li>
    {% endif %}


    <li class="nav-item" id="menulots">
        <a href="javascript:" class="nav-link ">
            <i class="icon-social-dropbox"></i>
            <span class="title">Lots</span>
        </a>
    </li>
    <li class="nav-item" id="menuentrepots">
        <a href="javascript:" class="nav-link nav-toggle">
            <i class="icon-home"></i>
            <span class="title">Entrepots</span>
            <span class="arrow"></span>

        </a>
        <ul class="sub-menu ">
            <li class="nav-item  ">
                <a href="{{ path('addentrepot') }}" class="nav-link">
                    <span class="title">Nouveau entrepot</span>

                </a>
            </li>
            <li class="nav-item  ">
                <a href="{{ path('listentrepots') }}" class="nav-link ">
                    <span class="title">Liste des entrepots</span>
                </a>
            </li>


        </ul>
    </li>
    <li class="nav-item" id="menutaxes">
        <a href="javascript:" class="nav-link nav-toggle">
            <i class="fa fa-frown-o" aria-hidden="true"></i>
            <span class="title">Taxes</span>
            <span class="arrow"></span>

        </a>
        <ul class="sub-menu ">
            <li class="nav-item  ">
                <a href="{{ path('addtaxe') }}" class="nav-link">
                    <span class="title">Nouveau taxe</span>

                </a>
            </li>
            <li class="nav-item  ">
                <a href="#" class="nav-link ">
                    <span class="title">Liste des taxes</span>
                </a>
            </li>


        </ul>
    </li>

    <li class="heading">

        <h3 class="uppercase" style="font-weight: 600 ; color: white;"> <i class="icon-settings"></i>  Configuration</h3>
    </li>
    <li class="nav-item  ">
        <a href="javascript:" class="nav-link nav-toggle">
            <i class="icon-equalizer"></i>
            <span class="title">Générale</span>


        </a>

    </li>
    <li class="nav-item  ">
        <a href="javascript:" class="nav-link nav-toggle">
            <i class="icon-rocket"></i>
            <span class="title">Application</span>


        </a>

    </li>

    <li class="heading">

        <h3 class="uppercase" style="font-weight: 600 ; color: white;"> <i class="icon-lock"></i>  Sécurité</h3>
    </li>

    <li class="nav-item" >
        <a href="javascript:" class="nav-link nav-toggle">
            <i class="icon-user"></i>
            <span class="title">Utilisateurs</span>
            <span class="arrow"></span>

        </a>
        <ul class="sub-menu ">
            <li class="nav-item  ">
                <a href="{{ path('adduser') }}" class="nav-link">
                    <span class="title">Nouveau utilisateur</span>

                </a>
            </li>
            <li class="nav-item  ">
                <a href="{{ path('listusers') }}" class="nav-link ">
                    <span class="title">Liste des utilisateurs</span>
                </a>
            </li>


        </ul>
    </li>
    {% if app.request.attributes.get('_route') =='addrole' %}
        <li class="nav-item active open" >
            <a href="javascript:" class="nav-link nav-toggle">
                <i class="icon-key"></i>
                <span class="title">Roles & permissions</span>
                <span class="arrow open"></span>

            </a>
            <ul class="sub-menu ">
                <li class="nav-item active ">
                    <a href="{{ path('addrole') }}" class="nav-link">
                        <span class="title">Nouveau role</span>
                        <span class="selected"></span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="{{ path('listroles') }}" class="nav-link ">
                        <span class="title">Liste des roles</span>
                    </a>
                </li>


            </ul>
        </li>
    {% elseif app.request.attributes.get('_route') =='listroles' %}
        <li class="nav-item active open" >
            <a href="javascript:" class="nav-link nav-toggle">
                <i class="icon-key"></i>
                <span class="title">Roles & permissions</span>
                <span class="arrow open"></span>

            </a>
            <ul class="sub-menu ">
                <li class="nav-item  ">
                    <a href="{{ path('addrole') }}" class="nav-link">
                        <span class="title">Nouveau role</span>

                    </a>
                </li>
                <li class="nav-item active ">
                    <a href="{{ path('listroles') }}" class="nav-link ">
                        <span class="title">Liste des roles</span>
                        <span class="selected"></span>
                    </a>
                </li>


            </ul>
        </li>
    {% else %}
        <li class="nav-item" >
            <a href="javascript:" class="nav-link nav-toggle">
                <i class="icon-key"></i>
                <span class="title">Roles & permissions</span>
                <span class="arrow"></span>

            </a>
            <ul class="sub-menu ">
                <li class="nav-item  ">
                    <a href="{{ path('addrole') }}" class="nav-link">
                        <span class="title">Nouveau role</span>

                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="{{ path('listroles') }}" class="nav-link ">
                        <span class="title">Liste des roles</span>
                    </a>
                </li>


            </ul>
        </li>
    {% endif %}


{% endblock %}
{% block container %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{{ path('dashboard') }}">Accueil</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Tableau de bord</span>
            </li>
        </ul>

    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title"> Tableau de bord
        <small>Statistiques, tableaux, événements récents et rapports</small>
    </h1>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2 ">
                <div class="display">
                    <div class="number">
                        <h3 class="font-green-sharp">
                            <span data-counter="counterup" data-value="7800">7800</span>
                            <small class="font-green-sharp">Dt</small>
                        </h3>
                        <small>Bénéfice total</small>
                    </div>
                    <div class="icon">
                        <i class="icon-pie-chart"></i>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                                            <span style="width: 76%;" class="progress-bar progress-bar-success green-sharp">
                                                <span class="sr-only">18% taxe</span>
                                            </span>
                    </div>
                    <div class="status">
                        <div class="status-title"> Taxe </div>
                        <div class="status-number"> 18% </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2 ">
                <div class="display">
                    <div class="number">
                        <h3 class="font-red-haze">
                            <span data-counter="counterup" data-value="66">66</span>
                        </h3>
                        <small>Produits</small>
                    </div>
                    <div class="icon">
                        <i class="icon-chemistry"></i>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                                            <span style="width: 23%;" class="progress-bar progress-bar-success red-haze">
                                                <span class="sr-only">23% hors stock</span>
                                            </span>
                    </div>
                    <div class="status">
                        <div class="status-title"> Hors stock </div>
                        <div class="status-number"> 23% </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2 ">
                <div class="display">
                    <div class="number">
                        <h3 class="font-blue-sharp">
                            <span data-counter="counterup" data-value="50"></span>
                        </h3>
                        <small>Commandes totales</small>
                    </div>
                    <div class="icon">
                        <i class="icon-basket"></i>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                                            <span style="width: 20%;" class="progress-bar progress-bar-success blue-sharp">
                                                <span class="sr-only">20% livrés</span>
                                            </span>
                    </div>
                    <div class="status">
                        <div class="status-title"> Livrés </div>
                        <div class="status-number"> 20% </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="dashboard-stat2 ">
                <div class="display">
                    <div class="number">
                        <h3 class="font-purple-soft">

                            <span data-counter="counterup" data-value="15"></span>
                        </h3>
                        <small>Clients</small>
                    </div>
                    <div class="icon">
                        <i class="icon-user"></i>
                    </div>
                </div>
                <div class="progress-info">
                    <div class="progress">
                                            <span style="width: 60%;" class="progress-bar progress-bar-success purple-soft">
                                                <span class="sr-only">60% actif</span>
                                            </span>
                    </div>
                    <div class="status">
                        <div class="status-title"> Actif </div>
                        <div class="status-number"> 60% </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>


    <div class="row">
        <div class="col-lg-6 col-xs-12 col-sm-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-share font-dark hide"></i>
                        <span class="caption-subject font-dark bold uppercase">Activités récentes</span>
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                        <ul class="feeds">
                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-info">
                                                <i class="fa fa-check"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc"> Vous avez 2 tâches en attente.
                                                <span class="label label-sm label-warning "> Prenez action
                                                                        <i class="fa fa-share"></i>
                                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>

                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-warning">
                                                <i class="fa fa-life-ring"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc"> Nouvelle réclamation
                                                <span class="label label-sm label-warning"> Reference : #13 </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-success">
                                                <i class="fa fa-shopping-cart"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc"> Nouvelle commande
                                                <span class="label label-sm label-success"> Reference : #11 </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>

                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-info">
                                                <i class="fa fa-file-o"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc"> Nouvelle facture genéré
                                                <span class="label label-sm label-success"> Reference : #16 </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-info">
                                                <i class="fa fa-user"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc"> Nouveau client ajouté
                                                <span class="label label-sm label-success"> Reference : #23 </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-danger">
                                                <i class="fa fa-shopping-cart"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc"> Commande annulé
                                                <span class="label label-sm label-danger"> Reference : #9 </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>
                            <li>
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-warning">
                                                <i class="fa fa-usd"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc"> Nouvelle transaction
                                                <span class="label label-sm label-warning"> Reference : #102 </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </li>

                        </ul>
                    </div>
                    <div class="scroller-footer">
                        <div class="btn-arrow-link pull-right">
                            <a href="javascript:;">Voir tous</a>
                            <i class="icon-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xs-12 col-sm-12">
            <div class="portlet light tasks-widget bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-share font-dark hide"></i>
                        <span class="caption-subject font-dark bold uppercase">Tâches</span>
                        <span class="caption-helper"></span>
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="task-content">
                        <div class="scroller" style="height: 312px;" data-always-visible="1" data-rail-visible1="1">
                            <!-- START TASK LIST -->
                            <ul class="task-list">
                                <li>

                                    <div class="task-title">
                                        <span class="task-title-sp"> Tache 1 </span>
                                        <span class="label label-sm label-success">Terminé</span>

                                    </div>

                                </li>
                                <li>

                                    <div class="task-title">
                                        <span class="task-title-sp"> Tache 2  </span>
                                        <span class="label label-sm label-danger">Retardé</span>
                                    </div>

                                </li>
                                <li>

                                    <div class="task-title">
                                        <span class="task-title-sp"> Tache 3 </span>
                                        <span class="label label-sm label-success">Terminé</span>

                                    </div>

                                </li>
                                <li>

                                    <div class="task-title">
                                        <span class="task-title-sp"> Tache 4 </span>
                                        <span class="label label-sm label-warning">En cours</span>
                                    </div>

                                </li>
                                <li>

                                    <div class="task-title">
                                        <span class="task-title-sp"> Tache 5 </span>
                                        <span class="label label-sm label-info">Rappel</span>
                                    </div>

                                </li>
                                <li>

                                    <div class="task-title">
                                        <span class="task-title-sp"> Tache 6 </span>
                                        <span class="label label-sm label-danger">Retardé</span>
                                    </div>

                                </li>
                                <li>

                                    <div class="task-title">
                                        <span class="task-title-sp"> Tache 7 </span>
                                        <span class="label label-sm label-default">En attente</span>

                                    </div>

                                </li>
                                <li>

                                    <div class="task-title">
                                        <span class="task-title-sp"> Tache 8 </span>
                                        <span class="label label-sm label-success">Terminé</span>

                                    </div>

                                </li>

                            </ul>
                            <!-- END START TASK LIST -->
                        </div>
                    </div>
                    <div class="task-footer">
                        <div class="btn-arrow-link pull-right">
                            <a href="javascript:;">Voir tous</a>
                            <i class="icon-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.request.attributes.get('_route') =='dashboard' %}

        <script src="{{ asset('Template/assets/pages/scripts/dashboard.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/moment.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/morris/morris.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/morris/raphael-min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/counterup/jquery.waypoints.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/counterup/jquery.counterup.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/amcharts/amcharts/amcharts.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/amcharts/amcharts/serial.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/amcharts/amcharts/pie.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/amcharts/amcharts/radar.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/amcharts/amcharts/themes/light.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/amcharts/amcharts/themes/patterns.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/amcharts/amcharts/themes/chalk.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/amcharts/ammap/ammap.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/amcharts/ammap/maps/js/worldLow.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/amcharts/amstockcharts/amstock.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/fullcalendar/fullcalendar.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/horizontal-timeline/horizontal-timeline.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/flot/jquery.flot.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/flot/jquery.flot.resize.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/flot/jquery.flot.categories.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/jquery.sparkline.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('Template/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js') }}" type="text/javascript"></script>

    {% endif %}



    <script>

        {% if is_granted('ROLE_SUPER_ADMIN') %}

        {% else %}


        var $idrole= {{ user.role.id }};

        var isajouterclient=0;
        var islisteclient=0;
        var ismodifierclient=0;
        var issupprimerclient=0;


        $( document ).ready(function() {
            $.getJSON( "{{ url('dashboard') }}api/modules", function( data ) {
                $.each($(data), function(key, value) {

                    if (value['nom']==='Categories')
                    {
                        if (value['active']===false)
                        {
                            $('#menucategories').hide();
                        }
                    }
                });
            });

            var jqxhr= $.getJSON("{{ url('dashboard') }}api/roles/"+$idrole+'/permissions', function( data ) {

                $.each($(data), function(key, value) {
                    if (isajouterclient===0)
                    {
                        $('#menuaddclient').hide();
                    }
                    if (value['permission']['libele']==="ajouterclient") {

                        isajouterclient++;
                        $('#menuaddclient').show();
                    }

                    if (islisteclient===0)
                    {
                        $('#menulisteclient').hide();
                    }
                    if (value['permission']['libele']==="voirclient") {

                        islisteclient++;
                        $('#menulisteclient').show();
                    }
                    if (issupprimerclient===0)
                    {
                        $('#buttonsupprimerclient').hide();
                    }
                    if (value['permission']['libele']==="supprimerclient") {

                        issupprimerclient++;
                        $('#buttonsupprimerclient').show();
                    }

                    if (ismodifierclient===0)
                    {
                        $('#buttonmodifierclient').hide();
                    }
                    if (value['permission']['libele']==="modifierclient") {

                        ismodifierclient++;
                        $('#buttonmodifierclient').show();
                    }


                });
            });

            jqxhr.fail(function() {
                $('#menulisteclient').hide();
                $('#menuaddclient').hide();
                $('#buttonmodifierclient').hide();
                $('#buttonsupprimerclient').hide();

            });


        });

        {% endif %}
    </script>
{% endblock %}
